body {
    font-family: 'Arial', sans-serif;
    background-color: #fefbd8;
    color: #333;
    margin: 0;
    padding: 0;
}

.homepage-container {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #f39c12;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #f39c12;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
    font-size: 1.5em;
    color: #e67e22;
    margin: 0;
}

.card p {
    font-size: 1em;
    color: #555;
}
